<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <h2>About Myself</h2>
    <div style="background-color: white; width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
    @if (aboutme is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @* <p class="large">@aboutme.Description</p>
        <hr />
        <ul style="text-align: left; columns: 2; font-size: 1.25rem; margin: 2rem 3rem; gap: 3rem;">
        @foreach (var skill in aboutme.Skills)
        {
            <li key="@skill">@skill</li>
        }
        </ul>
        <hr />
        <p style="padding: 1rem 3rem 0;">@aboutme.DetailOrQuote</p> *@

        <div >            
            <p>Hi there! I'm <strong>Julian Benedict</strong>, a C# full stack developer with over 8+ years of experience in the industry. I have extensive knowledge of Windows, web, and mobile development, as well as expertise in Microsoft SQL Server and Flutter.</p>
            <p>Throughout my career, I've had the opportunity to work on a variety of projects, from small-scale applications to large enterprise systems. I'm passionate about using technology to solve real-world problems and improve people's lives.</p>
            <p>In addition to my technical skills, I also have experience with Git, Azure DevOps, and CI/CD. I believe in the importance of collaboration, communication, and continuous improvement, and I'm always looking for ways to enhance my skills and knowledge.</p>
            <p>If you're looking for a dedicated, results-driven developer with a proven track record of delivering high-quality solutions, then look no further! Let's connect and see how I can help bring your vision to life.</p>
            
            <ul style="text-align: initial">
                <li >Extensive experience in C# development, including Windows, web, and mobile applications</li>
                <li>Strong understanding of Microsoft SQL Server and database design</li>
                <li>Strong knowledge in the Angular and Blazor web app frameworks</li>
                <li>Proficiency in Flutter for cross-platform mobile development</li>
                <li>Knowledge of Git, Azure DevOps, and CI/CD for efficient collaboration and delivery</li>
                <li>Ability to work effectively in both individual and team environments</li>
                <li>Proven track record of delivering high-quality solutions on time and within budget</li>
                <li>Passion for using technology to solve real-world problems and improve people's lives</li>
            </ul>
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutme;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        aboutme = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");

    }
}
